In [28]:
import csv
data = [
    ['Battery type (N)', 'VOLTAGE', 'CCA', 'S.GRAVITY', 'BATTERY.LIFE (Month)', 'CAPACITY(AH)', 'STATUS'],
    ['40', 12.8, 320, 1.275, 6, 40, 'OK'],
    ['40', 12.8, 120, 1.275, 6, 20, 'NOT OK'],
    ['40', 11, 120, 1.15, 6, 20, 'CHARGE RETEST'],
    ['50', 12.8, 375, 1.275, 8, 50, 'OK'],
    ['50', 10, 150, 1.28, 8, 10, 'NOT OK'],
    ['50', 12.3, 250, 1.26, 12, 38, 'CHARGE RETEST'],
    ['100', 12.8, 800, 1.275, 12, 100, 'OK'],
    ['100', 12.7, 650, 1.27, 10, 90, 'OK'],
    ['100', 11.5, 500, 1.24, 8, 80, 'NOT OK'],
    ['100', 12.4, 700, 1.26, 9, 85, 'CHARGE RETEST'],
    ['100', 12.9, 750, 1.28, 11, 95, 'OK'],
    ['120', 12.8, 900, 1.275, 15, 120, 'OK'],
    ['120', 12.5, 800, 1.27, 13, 110, 'OK'],
    ['120', 11.8, 650, 1.25, 12, 100, 'NOT OK'],
    ['120', 12.3, 850, 1.265, 14, 115, 'CHARGE RETEST'],
    ['120', 12.7, 875, 1.27, 13, 118, 'OK'],
    ['150', 12.9, 1100, 1.275, 20, 150, 'OK'],
    ['150', 12.6, 950, 1.27, 18, 140, 'OK'],
    ['150', 11.7, 800, 1.24, 16, 130, 'NOT OK'],
    ['150', 12.4, 1000, 1.26, 19, 135, 'CHARGE RETEST'],
    ['150', 12.8, 1050, 1.28, 21, 145, 'OK'],
    ['200', 13.0, 1300, 1.275, 24, 200, 'OK'],
    ['200', 12.5, 1150, 1.27, 22, 180, 'OK'],
    ['200', 11.6, 950, 1.24, 20, 160, 'NOT OK'],
    ['200', 12.2, 1200, 1.265, 23, 170, 'CHARGE RETEST'],
    ['200', 12.9, 1250, 1.27, 25, 190, 'OK'],
    ['100', 12.7, 700, 1.27, 10, 85, 'OK'],
    ['100', 12.8, 750, 1.275, 11, 90, 'OK'],
    ['100', 11.4, 550, 1.23, 9, 80, 'NOT OK'],
    ['100', 12.3, 650, 1.26, 10, 75, 'CHARGE RETEST'],
    ['100', 12.9, 800, 1.27, 11, 85, 'OK'],
    ['40', 12.6, 300, 1.275, 7, 38, 'OK'],
    ['40', 12.7, 110, 1.275, 7, 18, 'NOT OK'],
    ['40', 11.1, 110, 1.15, 7, 18, 'CHARGE RETEST'],
    ['50', 12.6, 350, 1.275, 9, 48, 'OK'],
    ['50', 10.5, 130, 1.28, 9, 12, 'NOT OK'],
    ['50', 12.2, 230, 1.26, 13, 36, 'CHARGE RETEST'],
    ['100', 12.6, 750, 1.275, 13, 98, 'OK'],
    ['100', 12.5, 625, 1.27, 11, 88, 'OK'],
    ['100', 11.3, 475, 1.24, 9, 78, 'NOT OK'],
    ['100', 12.2, 675, 1.26, 10, 83, 'CHARGE RETEST'],
    ['100', 12.8, 725, 1.28, 12, 93, 'OK'],
    ['120', 12.6, 875, 1.275, 16, 118, 'OK'],
    ['120', 12.3, 775, 1.27, 14, 108, 'OK'],
    ['120', 11.6, 625, 1.25, 13, 98, 'NOT OK'],
    ['120', 12.2, 825, 1.265, 15, 113, 'CHARGE RETEST'],
    ['120', 12.6, 850, 1.27, 14, 116, 'OK'],
    ['150', 12.8, 1075, 1.275, 22, 148, 'OK'],
    ['150', 12.5, 925, 1.27, 20, 138, 'OK'],
    ['150', 11.8, 775, 1.24, 18, 128, 'NOT OK'],
    ['150', 12.5, 975, 1.26, 21, 133, 'CHARGE RETEST'],
    ['150', 12.7, 1025, 1.28, 23, 143, 'OK'],
    ['200', 13.1, 1275, 1.275, 26, 198, 'OK'],
    ['200', 12.6, 1125, 1.27, 24, 178, 'OK'],
    ['200', 11.7, 925, 1.24, 22, 158, 'NOT OK'],
    ['200', 12.3, 1175, 1.265, 25, 168, 'CHARGE RETEST'],
    ['200', 13.0, 1225, 1.27, 27, 188, 'OK'],
    ['100', 12.6, 725, 1.27, 11, 88, 'OK'],
    ['100', 12.7, 775, 1.275, 12, 93, 'OK'],
    ['100', 11.2, 575, 1.23, 10, 83, 'NOT OK'],
    ['100', 12.2, 675, 1.26, 11, 78, 'CHARGE RETEST'],
    ['100', 12.8, 825, 1.27, 12, 88, 'OK']
]

# Write data to CSV file
with open('battery_data_full1.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("CSV file 'battery_data_full1.csv' has been successfully created.")

CSV file 'battery_data_full1.csv' has been successfully created.

In [29]:
import pandas as pd
dataset=pd.read_csv("battery_data_full1.csv")

In [30]:
dataset

,Battery type (N),VOLTAGE,CCA,S.GRAVITY,BATTERY.LIFE (Month),CAPACITY(AH),STATUS
0,40,12.8,320,1.275,6,40,OK
1,40,12.8,120,1.275,6,20,NOT OK
2,40,11.0,120,1.150,6,20,CHARGE RETEST
3,50,12.8,375,1.275,8,50,OK
4,50,10.0,150,1.280,8,10,NOT OK
...,...,...,...,...,...,...,...
57,100,12.6,725,1.270,11,88,OK
58,100,12.7,775,1.275,12,93,OK
59,100,11.2,575,1.230,10,83,NOT OK
60,100,12.2,675,1.260,11,78,CHARGE RETEST
61,100,12.8,825,1.270,12,88,OK

# Battery Health Monitoring System Project Detailed Description of Each Column
1.BATTERY_TYPE:

Description: This column indicates the type or model of the battery. It uses codes like N40, N50, N100, N120, N150, and N200 to represent different battery models, each with different capacities and specifications.
Example Values: N40, N50, N100, N120, N150, N200.
VOLTAGE:

2.Description: This column represents the voltage of the battery measured in volts (V). It indicates the electrical potential difference the battery can provide. Typical values are around 12.8V for fully charged automotive batteries.
Example Values: 12.8, 12.5, 11.6.
CCA (Cold Cranking Amps):

Description: This column measures the Cold Cranking Amps (CCA) of the battery, which is the amount of current the battery can provide at 0°F (-18°C) for 30 seconds while maintaining at least 7.2 volts. It's a key measure of a battery's ability to start an engine in cold temperatures.
Example Values: 320, 800, 1000.

3.Specific.GRAVITY (Specific Gravity):

Description: This column indicates the specific gravity of the electrolyte solution in the battery, which is a measure of the density of the sulfuric acid in the battery compared to water. It is typically measured with a hydrometer and provides information about the battery's state of charge.
Example Values: 1.275, 1.27, 1.24.

4.BATTERY.LIFE:

Description: This column represents the age or expected lifespan of the battery, often given in months. It indicates how long the battery has been in use or is expected to last under normal conditions.
Example Values: 6 MONTH, 12 MONTH, 24 MONTH.

5.CAPACITY(AH):

Description: This column indicates the capacity of the battery measured in ampere-hours (AH). It represents the total amount of electric charge the battery can deliver at a specific voltage. Higher capacity means the battery can provide power for a longer period.
Example Values: 40, 100, 150.

6.STATUS:

Description: This column indicates the current condition or usability of the battery. It can have values like "OK," "NOT OK," "CHARGE RETEST," etc., indicating whether the battery is in good condition, needs charging, or should be retested for usability.
Example Values: OK, NOT OK, CHARGE RETEST.

In [31]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Battery type (N)      62 non-null     int64
 1   VOLTAGE               62 non-null     float64
 2   CCA                   62 non-null     int64
 3   S.GRAVITY             62 non-null     float64
 4   BATTERY.LIFE (Month)  62 non-null     int64
 5   CAPACITY(AH)          62 non-null     int64
 6   STATUS                62 non-null     object
dtypes: float64(2), int64(4), object(1)
memory usage: 3.5+ KB

In [32]:
dataset.dtypes

Battery type (N)          int64
VOLTAGE                 float64
CCA                       int64
S.GRAVITY               float64
BATTERY.LIFE (Month)      int64
CAPACITY(AH)              int64
STATUS                   object
dtype: object

# To check for null values in a dataset

In [33]:
dataset.isnull().sum()

Battery type (N)        0
VOLTAGE                 0
CCA                     0
S.GRAVITY               0
BATTERY.LIFE (Month)    0
CAPACITY(AH)            0
STATUS                  0
dtype: int64

In [34]:
dataset.describe()

,Battery type (N),VOLTAGE,CCA,S.GRAVITY,BATTERY.LIFE (Month),CAPACITY(AH)
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,116.774194,12.317742,734.112903,1.261935,14.274194,102.887097
std,49.282531,0.640319,321.884212,0.024316,5.884599,49.352232
min,40.000000,10.000000,110.000000,1.150000,6.000000,10.000000
25%,100.000000,12.200000,587.500000,1.260000,10.000000,80.000000
50%,100.000000,12.550000,775.000000,1.270000,12.500000,98.000000
75%,150.000000,12.800000,943.750000,1.275000,19.750000,137.250000
max,200.000000,13.100000,1300.000000,1.280000,27.000000,200.000000

In [35]:
quan=[]
qual=[]
for columnName in dataset.columns:
    #print(columnName)
    if (dataset[columnName].dtype=='object'):
       # print("qual")
        qual.append(columnName)   
    else:
        #print("quan")
        quan.append(columnName)

In [36]:
quan

['Battery type (N)',
 'VOLTAGE',
 'CCA',
 'S.GRAVITY',
 'BATTERY.LIFE (Month)',
 'CAPACITY(AH)']

In [37]:
qual

['STATUS']

In [38]:
import numpy as np

In [39]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99","Q4:100%","IQR",
                               "1.5Rule","Lesser","Greater","Min","Max"],columns=quan)
for coulmnName in quan:
    descriptive[coulmnName]["Mean"]=dataset[coulmnName].mean()
    descriptive[coulmnName]["Median"]=dataset[coulmnName].median()
    descriptive[coulmnName]["Mode"]=dataset[coulmnName].mode()[0]
    descriptive[coulmnName]["Q1:25%"]=dataset.describe()[coulmnName]["25%"]
    descriptive[coulmnName]["Q2:50%"]=dataset.describe()[coulmnName]["50%"]
    descriptive[coulmnName]["Q3:75%"]=dataset.describe()[coulmnName]["75%"]
    descriptive[coulmnName]["99"]=np.percentile(dataset[coulmnName],99)
    descriptive[coulmnName]["Q4:100%"]=dataset.describe()[coulmnName]["max"]
    descriptive[coulmnName]["IQR"]= descriptive[coulmnName]["Q3:75%"]-descriptive[coulmnName]["Q1:25%"]
    descriptive[coulmnName]["1.5Rule"]=1.5*descriptive[coulmnName]["IQR"]
    descriptive[coulmnName]["Lesser"]=descriptive[coulmnName]["Q1:25%"]-descriptive[coulmnName]["1.5Rule"]
    descriptive[coulmnName]["Greater"]=descriptive[coulmnName]["Q3:75%"]+ descriptive[coulmnName]["1.5Rule"]
    descriptive[coulmnName]["Min"]=dataset[coulmnName].min()
    descriptive[coulmnName]["Max"]=dataset[coulmnName].max()

In [40]:
descriptive

,Battery type (N),VOLTAGE,CCA,S.GRAVITY,BATTERY.LIFE (Month),CAPACITY(AH)
Mean,116.774194,12.317742,734.112903,1.261935,14.274194,102.887097
Median,100.0,12.55,775.0,1.27,12.5,98.0
Mode,100,12.8,800,1.27,11,85
Q1:25%,100.0,12.2,587.5,1.26,10.0,80.0
Q2:50%,100.0,12.55,775.0,1.27,12.5,98.0
Q3:75%,150.0,12.8,943.75,1.275,19.75,137.25
99,200.0,13.039,1284.75,1.28,26.39,198.78
Q4:100%,200.0,13.1,1300.0,1.28,27.0,200.0
IQR,50.0,0.6,356.25,0.015,9.75,57.25
1.5Rule,75.0,0.9,534.375,0.0225,14.625,85.875
Lesser,25.0,11.3,53.125,1.2375,-4.625,-5.875
Greater,225.0,13.7,1478.125,1.2975,34.375,223.125
Min,40,10.0,110,1.15,6,10
Max,200,13.1,1300,1.28,27,200

In [41]:
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["MEAN","MEDIAN","MODE","Q1:25%","Q2:50%","Q3:75%",
                                    "99%","Q4:100%","IQR","1.5 rule",
                                    "Lesser","Greater","Min","Max","skew","kurtosis","var","std"],columns=quan)
    for columName in quan:
        descriptive[columName]["MEAN"]=dataset[columName].mean()
        descriptive[columName]["MEDIAN"]=dataset[columName].median()
        descriptive[columName]["MODE"]=dataset[columName].mode()[0]
        descriptive[columName]["Q1:25%"]=dataset.describe()[columName]["25%"]
        descriptive[columName]["Q2:50%"]=dataset.describe()[columName]["50%"]
        descriptive[columName]["Q3:75%"]=dataset.describe()[columName]["75%"]
        descriptive[columName]["99%"]=np.percentile(dataset[columName],99)
        descriptive[columName]["Q4:100%"]=dataset.describe()[columName]["max"]
        descriptive[columName]["IQR"]=descriptive[columName]["Q3:75%"]- descriptive[columName]["Q1:25%"]
        descriptive[columName]["1.5 rule"]=1.5* descriptive[columName]["IQR"]
        descriptive[columName]["Lesser"]=descriptive[columName]["Q1:25%"]- descriptive[columName]["1.5 rule"]
        descriptive[columName]["Greater"]=descriptive[columName]["Q3:75%"]+ descriptive[columName]["1.5 rule"]
        descriptive[columName]["Min"]=dataset[columName].min()
        descriptive[columName]["Max"]=dataset[columName].max()
        descriptive[columName]["skew"]=dataset[columName].skew()
        descriptive[columName]["kurtosis"]=dataset[columName].kurtosis()
        descriptive[columName]["var"]=dataset[columName].var()
        descriptive[columName]["std"]=dataset[columName].std()
    return descriptive